.wp-block-quote {
    color: blue;
}

.wp-block-quote.is-style-fancy-quote {
    color: tomato;
}

.entry-content > * {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.alignwide {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

table td {
    border: 2px solid #000;
    font-size: 20px;
}

div.entry-content {
    margin-top: 2.0rem;
    background-color: lightgray;
}

li {
    list-style-position: inside;
    font-size: 30px;
    text-align: center;
}

.wp-block-quote.wp-block-quote.is-style-fancy-quote {
    font-size: 25px;
    text-align: center;
}

h2{
    text-align: center;
}

.wp-calender {
    width: 100px;
}

caption {
    font-size: 30px;
}

header, footer, aside {
    background-color: #7c7c7c;
}

article, aside {
    background-color: #cccccc;
}

img.custom-logo {
    margin-top: 1rem;
    margin-left: 1rem;
}

li.page_item.page-item-98, li.page_item.page-item-16, li.page_item.page-item-100, li.page_item.page-item-96, li.page_item.page-item-156, li.page_item.page-item-146, li.page_item.page-item-147, li.page_item.page-item-148, li.page_item.page-item-153, li.page_item.page-item-145 {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.custom-menu-button {
    font-size: 20px;
    color: white;
}

p {
    font-family: "Arial Narrow";
    color: #000;
    font-weight: 600;
    margin-left: 3rem;
}

img.wp-image-61, img.wp-image-62, img.wp-image-66, img.wp-image-64 {
    margin: 40px;
}

img.wp-image-64 {
    margin: 50px;
}

p.products, p.services {
    color: #7c7c7c;
    font-weight: 400;
    font-family: Franklin Gothic Demi;
}

p.services {
    margin-bottom: 50px;
}

h2#our-services.services_title {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

strong {
    font-family: Arial, Helvetica, sans-serif;
}

p.full_name, p.email, p.phone, p.notes {
    width: 1000px;
    height: 30px;
    background-color: #b6b6b6;
    text-align: center;
    padding-top: 10px;
}

p.notes {
    height: 60px;
    padding-top: 30px;
    margin-bottom: 50px;
}

div.wp-block-button.submit {
    margin-left: 450px;
    border-radius: 0px;
    margin-bottom: 50px;
}

.site-footer {
    padding-top: 50px;
    height: 220px;
}

.site-footer .customer a, .corporate a {
    color: white;
    background: none;
    font-size: 20px;
    text-decoration: none;
}

h1.entry-title {
    display: none;
}

div.entry-content {
    margin-top: -37px;
}

.entry-content p {
    padding-top: 20px;
}

.site-search {
    margin-top: -45px;
    margin-bottom: 40px;
}

.site-search input {
    width: 70%;
    text-align: center;
    height: 40px;
    margin-left: 250px;
    background-color: #cccccc;
    border: none;
}

.site-search input::placeholder {
    color: #000;
}

.site-footer {
    display: flex;
    flex-direction: row;
}

a.post-edit-link {
    display: none;
}

div.wpforms-container.wpforms-container-full {
    margin-left: 20.0rem;
}

div.wpforms-container.wpforms-container-full textarea#wpforms-245-field_2.wpforms-field-medium.wpforms-field-required {
    width: 60%;
}

div#wpforms-confirmation-245.wpforms-confirmation-container-full.wpforms-confirmation-scroll {
    width: 50%;
    margin-left: 0rem;
}

.menu {
    display: flex;
    height: 1.0rem;
    flex-direction: row;
    color: #000;
    font-weight: bolder;
    justify-content: space-around;
    background-color: #00aeef;
}

.menu li {
    list-style-type: none;
}

.care-list li, section.widget.widget_block li {
    color: #fff;
    font-size: 1.0rem;
    text-align: justify;
    margin-top: 0.5rem;
}

.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#block-6 h2, #block-8 h2 {
    color: white;
}

.menu h3, .menu a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.menu h3:hover, .menu a:hover {
    color: red;
}

h1, a{
    /* background-color: #00aeef; */
    text-decoration: none;
    color: #000;
}

ul#primary-menu.menu {
    height: 2.0rem;
}


a.custom-logo-link {
    background: none;
}

.woocommerce-MyAccount-navigation ul li {
    display: none;
}

div.woocommerce-MyAccount-content {
    display: none;
}

div.wc-block-components-product-image.wc-block-grid__product-image img {
    width: 50%;
}

div.wc-block-components-product-image.wc-block-grid__product-image a {
    background: none;
}

.wc-block-components-product-name {
    background: none;
    font-size: 20px;
}

del.wc-block-components-product-price__regular.wc-block-grid__product-price__regular {
    font-size: 17px;
}

ins.wc-block-components-product-price__value.is-discounted.wc-block-grid__product-price__value {
    font-size: 17px;
}

button.wp-block-button__link.add_to_cart_button.wc-block-components-product-button__button {
    font-size: 15px;
}

div.wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right.wc-block-grid__product-onsale {
    font-size: 15px;
    margin-right: 2.5rem;
    font-weight: bolder;
    color: #fff;
    background-color: red;
    border-radius: 2.0rem;
}

.navigation.post-navigation, #comments {
    display: none;
}

section.related.products img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 80%;
    margin-top: 2.0rem;
}

section.related.products span.onsale {
    font-size: 15px;
    background: red;
    color: #fff;
    margin-top: 2.0rem;
    margin-right: 1.0rem !important;
}

section.related.products h2.woocommerce-loop-product__title {
    font-size: 18px !important;
}

section.related.products bdi {
    margin-left: 4.0rem;
    font-size: 16px;
}

section.related.products a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    font-size: 1.0rem;
    border-radius: 2.0rem;
    background-color: #00aeef;
}

section.related.products a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: #7c7c7c;
    color: #fff;
}

ul.tabs.wc-tabs {
    display: none;
}

div.woocommerce-product-gallery__image a img.wp-post-image {
    margin-top: 4.0rem;
    width: 10%;
}

.woocommerce div.product div.images img {
    width: 40% !important;
    margin-left: 4.0rem !important;
}

.woocommerce span.onsale {
    margin-top: 3.0rem !important;
    margin-left: 2.0rem !important;
    background-color: red !important;
    color: #fff !important;
    font-weight: bold !important;
}

a.woocommerce-product-gallery__trigger {
    display: none;
}

div.summary.entry-summary {
    margin-top: 6.0rem;
    margin-right: 1.0rem;
}

.product_meta a {
    background: none;
    color: red;
    font-weight: bold;
}

form.cart, input {
    font-size: 1.0rem;
}

input {
    margin-top: 0.4rem;
}

bdi {
    margin-right: 12.0rem;
}

div.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab p {
    text-align: center;
    font-size: 1.5rem;
    color: #00aeef;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div.footer2 h2, div.footer1 h2, div.footer3 h2 {
    margin-top: 0.5rem;
    color: #fff;
}

section.widget.widget_block ul {
    margin-top: 1.0rem;
}

section.widget.widget_block.widget_text strong, .has-text-align-center {
    color: #fff;
    margin-top: 2.0rem;
}

nav.menu a {
    color: #000;
    font-weight: bolder;
}

div.woocommerce.columns-4 p {
    margin-top: 4.0rem;
    font-size: 2.0rem;
}

div.woocommerce.columns-4 ul.products.columns-4 img {
    width: 70%;
}

div.woocommerce.columns-4 {
    margin-bottom: -1.0rem;
}

div.woocommerce.columns-4 ul.products.columns-4 h2, div.woocommerce.columns-4 bdi {
    margin-right: 4.0rem;
    font-size: 1.0rem;
}

/* Shop Page Styling */
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    margin-right: 4.0rem;
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: #00aeef;
    color: #fff;
}

ul.products.columns-4 li a span.onsale {
    margin-right: 3.0rem !important;
    margin-top: 0.2rem !important;
}

/* Cart Page Styling */
form.woocommerce-cart-form {
    margin-top: 2.0rem;
}

form.woocommerce-cart-form td, form.woocommerce-cart-form a {
    background-color: #b6b6b6;
    color: #fff;
}

form.woocommerce-cart-form th {
    border: 0.1rem solid #000;
    text-align: center;
    font-size: 1.5rem;
}

table.shop_table.shop_table_responsive th {
    border: 0.1rem solid #000;
}

form.woocommerce-cart-form a:hover {
    color: #0000ff;
}

form.woocommerce-cart-form input {
    background-color: #cccccc;
    color: #fff;
}

input#coupon_code.input-text, button.button {
    background-color: #e0e0e0;
    color: #000;
    margin-top: 0.2rem;
}

button.button {
    background-color: #fff;
    color: #000;
}

a.checkout-button.button.alt.wc-forward, form.woocommerce-cart-form a.remove:hover  {
    background-color: #00aeef;
}

a.checkout-button.button.alt.wc-forward:hover {
    background-color: #b6b6b6;
    color: #000;
}

form.woocommerce-ordering {
    padding-top: 2.5rem;
}

div.woocommerce-message {
    margin-top: 2.2rem;
}

div.woocommerce-notices-wrapper {
    padding-top: 1.0rem;
}

.woocommerce p.cart-empty.woocommerce-info {
    background-color: #b6b6b6;
    color: #fff;
}

p.return-to-shop a.button.wc-backward:hover {
    background-color: #00aeef;
    color: #fff;
}

/* Checkout Styling */

div.woocommerce-form-coupon-toggle {
    margin-top: 2.3rem;
}

textarea#order_comments.input-text {
    margin-top: 2.0rem;
}

p#order_comments_field.form-row.notes {
    width: 70%;
}

button#place_order.button.alt {
    background-color: #00aeef;
}

button#place_order.button.alt:hover {
    background-color: #7c7c7c;
    color: #000;
}

div#order_review {
    padding-bottom: 7.0rem;
}

/* Footer Styling */
section#block-28.widget.widget_block li a, section#block-27.widget.widget_block li a {
    color: #fff;
}

section#block-28.widget.widget_block li a:hover, section#block-27.widget.widget_block li a:hover {
    color: #00aeef;
}

div.footer3 section#block-11.widget.widget_block li a svg {
    width: 100%;
    height: 40px;
}

/* Privacy Policy Styling */
p {
    color: #7c7c7c;
}

div.entry-content p {
    font-size: 1.2rem;
}

div.entry-content h2 {
    font-weight: bold;
}

/* Refund Page Styling */
div.entry-content h3 {
    font-weight: bold;
}

div.entry-content p {
    font-size: 1.3rem;
}

/* Products Page Styling */
button.wp-block-button__link.add_to_cart_button.wc-block-components-product-button__button:hover {
    background-color: #00aeef;
    color: #000;
    font-weight: 600;
}

button.wp-block-button__link.add_to_cart_button.wc-block-components-product-button__button {
    font-size: 1.0rem;
}

section.related.products {
    margin-bottom: -1rem;
}

.woocommerce .quantity .qty {
    width: 2.5rem !important;
    height: 1.5rem !important;
    margin-top: 0.3rem !important;
}

button.single_add_to_cart_button.button.alt:hover {
    background-color: #00aeef !important;
    color: #fff !important;
    font-weight: 600 !important;
}

button.single_add_to_cart_button.button.alt {
    background-color: #b6b6b6 !important;
    color: #000 !important;
}

/* Account Page Styling */
div.wp-block-button.aligncenter.has-custom-width.wp-block-button__width-100.orders-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

div.wp-block-button.has-custom-width.wp-block-button__width-100.save-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

div.wp-block-button.has-custom-width.wp-block-button__width-100.general-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

div.wp-block-button.has-custom-width.wp-block-button__width-100.login-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

div.wp-block-button.has-custom-width.wp-block-button__width-100.address-arrow.is-style-outline a:hover {    
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

div.wp-block-button.has-custom-width.wp-block-button__width-100.default-arrow.is-style-outline a:hover {    
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

div.wp-block-button.has-custom-width.wp-block-button__width-100.profile-arrow.is-style-outline a:hover {    
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;

}


.sub-menu li {
    display: none;
}

.menu li:hover {
    display: block !important;
}


/* My Account Button Styling */
.account a, .login a {
    color: #000;
    background-color: #00aeef;
    margin-top: -11.5rem;
    border-radius: 1.0rem;
    margin-left: 60.0rem;
    border: solid #000 0px;
    max-height: 40px;
}

.login a {
    margin-left: 80.0rem;
    margin-top: -12.0rem;
}

.account a:hover, .login a:hover {
    color: #fff;
    background-color: #cccccc;
    border: solid #000 0px;
}

.account:hover, .login:hover {
    text-decoration: none;
    color: #fff !important;
}