
/* adding some styling to the entry content width */ 
.entry-content > * {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* Adding some styling to the entier content */
div.entry-content {
    margin-top: 2.0rem;
    background-color: lightgray;
}

/* Styling to the fancy quote */
.wp-block-quote.wp-block-quote.is-style-fancy-quote {
    font-size: 25px;
    text-align: center;
}

/* Changing the background color of footer, header and aside bars */
header, footer, aside {
    background-color: #7c7c7c;
}

/* Adding some margin to the logo */
img.custom-logo {
    margin-top: 1rem;
    margin-left: 1rem;
}

/* Styling p tag of the about page */
p.products, p.services {
    color: #7c7c7c;
    font-weight: 400;
    font-family: Franklin Gothic Demi;
}

/* Displaying none to the title of each custom posts */
h1.entry-title {
    display: none;
}

/* adding some margin to the main entry content */
div.entry-content {
    margin-top: -37px;
}

/* Adding some margin to the search input field */
.site-search {
    margin-top: -45px;
    margin-bottom: 40px;
}

/* Styling search */
.site-search input {
    width: 70%;
    text-align: center;
    height: 40px;
    margin-left: 250px;
    background-color: #cccccc;
    border: none;
}

/* Changing the color of placeholder in the search */
.site-search input::placeholder {
    color: #000;
}

/* Adding some styling to the primary menu and displaying flex to it */
.menu {
    display: flex;
    height: 1.0rem;
    flex-direction: row;
    color: #000;
    font-weight: bolder;
    justify-content: space-around;
    background-color: #00aeef;
}

/* Displaying list tyoe none to the menu */
.menu li {
    list-style-type: none;
}

/* Adding some styling to the lists in the footer */
.care-list li, section.widget.widget_block li {
    color: #fff;
    font-size: 1.0rem;
    text-align: justify;
    margin-top: 0.5rem;
}

/* Displaying flex to the footer content */
.lists {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Changing the font size and adding some styling to the menu links */
.menu h3, .menu a {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

/* Hovering the menu links */
.menu h3:hover, .menu a:hover {
    color: red;
}

/* Styling h1 and a hyperlink tag in the menu */
h1, a{
    text-decoration: none;
    color: #000;
}

/* Giving height to the menu */
ul#primary-menu.menu {
    height: 2.0rem;
}


/* Displaying the navigation lists of myaccount button */
.woocommerce-MyAccount-navigation ul li {
    display: none;
}

/* Displyaing none to the content of myaccount button */
div.woocommerce-MyAccount-content {
    display: none;
}

/* Changing the width of all the product on product page */
div.wc-block-components-product-image.wc-block-grid__product-image img {
    width: 50%;
}

/* Changing the font size of the original product pize of the product on product page */
del.wc-block-components-product-price__regular.wc-block-grid__product-price__regular {
    font-size: 17px;
}

/* Changing the font size of the discounted prices of the product on product page */
ins.wc-block-components-product-price__value.is-discounted.wc-block-grid__product-price__value {
    font-size: 17px;
}

/* Changing the font size of the add to cart button on product page */
button.wp-block-button__link.add_to_cart_button.wc-block-components-product-button__button {
    font-size: 15px;
}

/* Styling sale button on product page */
div.wc-block-components-product-sale-badge.wc-block-components-product-sale-badge--align-right.wc-block-grid__product-onsale {
    font-size: 15px;
    margin-right: 2.5rem;
    font-weight: bolder;
    color: #fff;
    background-color: red;
    border-radius: 2.0rem;
}

/* Displaying none to the navigation and comments section on the single product page */
.navigation.post-navigation, #comments {
    display: none;
}

/* Changing the width of the product images in the related products section on single product page */
section.related.products img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
    width: 80%;
    margin-top: 2.0rem;
}

/* Styling sale button in related products section on single product page */
section.related.products span.onsale {
    font-size: 15px;
    background: red;
    color: #fff;
    margin-top: 3.0rem;
    margin-right: 1.0rem !important;
}

/* Changing the font size of the each product title in related products section on single product page */
section.related.products h2.woocommerce-loop-product__title {
    font-size: 18px !important;
}


/* Styling add to cart button on single product page in related product section */
section.related.products a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    font-size: 1.0rem;
    border-radius: 2.0rem;
    background-color: #00aeef;
}

/* Styling and hovering add to cart button on single product page in related products section */
section.related.products a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: #7c7c7c;
    color: #fff;
}

/* Displaying none to description tab on single product page */
ul.tabs.wc-tabs {
    display: none;
}

/* Giving some margin on product image on single product page */
div.woocommerce-product-gallery__image a img.wp-post-image {
    margin-top: 4.0rem;
    width: 10%;
}

/* Giving width to the product image on single product page */
.woocommerce div.product div.images img {
    width: 40% !important;
    margin-left: 4.0rem !important;
}

/* Styling sale button on single product page */
.woocommerce span.onsale {
    margin-top: 3.0rem !important;
    margin-left: 2.0rem !important;
    background-color: red !important;
    color: #fff !important;
    font-weight: bold !important;
}

/* Displaying none of search on product single item page */
a.woocommerce-product-gallery__trigger {
    display: none;
}

/* Giving some margin to a product summary of single product item page */
div.summary.entry-summary {
    margin-top: 6.0rem;
    margin-right: 1.0rem;
}

/* Changing the a hyperlink tag on single product item page */
.product_meta a {
    background: none;
    color: red;
    font-weight: bold;
}

/* Styling footer title */
div.footer2 h2, div.footer1 h2, div.footer3 h2 {
    margin-top: 0.5rem;
    color: #fff;
}

/* Styling showing all results content on shop page */
div.woocommerce.columns-4 p {
    margin-top: 3.5rem;
    font-size: 2.0rem;
}

/* Changing product images width on shop page */
div.woocommerce.columns-4 ul.products.columns-4 img {
    width: 70%;
}

/* Adding margin bottom on the shop page */
div.woocommerce.columns-4 {
    margin-bottom: -1.5rem;
}


/* About Page Styling */

/* Changing color of title on about page */
h2.product_title#our-products strong, h2.services_title#our-services {
    color: #000;
}

/* Shop Page Styling */

/* Giving some margin right to add to cart button on shop page */
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
    margin-right: 4.0rem;
}

/* Hovering and changing color of add to cart buttons on shop page */
a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
    background-color: #00aeef;
    color: #fff;
}

/* Styling onsale button on shop page */
ul.products.columns-4 li a span.onsale {
    margin-right: 3.0rem !important;
    margin-top: 0.2rem !important;
}

/* Giving some margin top to default sorting drop down button on shop page */
select.orderby {
    margin-top: 5.0rem;
}

/* Cart Page Styling */

/* Giving margin top to all the content on cart page */
form.woocommerce-cart-form {
    margin-top: 2.0rem;
}

/* Styling table content on cart page */
form.woocommerce-cart-form td, form.woocommerce-cart-form a {
    background-color: #b6b6b6;
    color: #fff;
}

/* Styling table on cart page */
form.woocommerce-cart-form th {
    border: 0.1rem solid #000;
    text-align: center;
    font-size: 1.5rem;
}

/* Adding border on cart totals sections on cart page */
table.shop_table.shop_table_responsive td,  th {
    border: 0.1rem solid #000;
}

/* Adding some styling to the table content on cart page */
table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
    border: 0.1rem solid #000;
    background-color: #cccccc;
    color: #00aeef;
    font-weight: bold;
}

/* Change background color of the delete button on cart page */
td.product-remove a {
    background-color: #cccccc;
}

/* Adding color and font weight to the quantity and add coupon button on cart page */
div.quantity input,  div.coupon button.button {
    color: #00aeef;
    font-weight: bold;
}

/* Hovering color to the add coupon button on cart page */
div.coupon button.button:hover {
    color: #ff0000;
}

/* Adding color and background color to the product name on the cart page */
td.product-name a {
    color: #00aeef;
    background-color: #cccccc;
}

/* Hovering and changing a hyperlink color on product name on cart page */
form.woocommerce-cart-form a:hover {
    color: #ff0000;
}

/* Styling coupon code  input text button on cart page */
input#coupon_code.input-text, button.button {
    background-color: #e0e0e0;
    color: #000;
    margin-top: 0.2rem;
}


/* Hovering and styling delete item button on cart page */
a.checkout-button.button.alt.wc-forward, form.woocommerce-cart-form a.remove:hover  {
    background-color: #00aeef;
}

/* Hovering and styling proceed to checkout button on cart page */
a.checkout-button.button.alt.wc-forward:hover {
    background-color: #b6b6b6;
    color: #000;
}

/* Styling deleted items and wants to undo items message on cart page */
div.woocommerce-message {
    margin-top: 2.2rem;
}

/* Styling deleted items and wants to undo items message on cart page */
div.woocommerce-notices-wrapper {
    padding-top: 1.0rem;
}

/* Styling your cart is currently empty section on cart page */
.woocommerce p.cart-empty.woocommerce-info {
    background-color: #b6b6b6;
    color: #fff;
}

/* Hovering and styling return to shop button when cart is empty on cart page */
p.return-to-shop a.button.wc-backward:hover {
    background-color: #00aeef;
    color: #fff;
}

/* changing font color of cart totals section title on cart page */
div.cart_totals h2 {
    color: #000;
}

/* Changing font color of content of cart totals section on the cart page */
tr.cart-subtotal, tr.order-total {
    color: #000;
}

/* Checkout Styling */

/* Giving margin top to comments section on checkout page */
textarea#order_comments.input-text {
    margin-top: 2.0rem;
}

/* Changing the width of additional information and comments section on checkout page */
p#order_comments_field.form-row.notes {
    width: 100%;
}

/* Changing color of place order button on checkout page */
button#place_order.button.alt {
    background-color: #00aeef;
}

/* Hovering and styling the place order button on checkout page */
button#place_order.button.alt:hover {
    background-color: #7c7c7c;
    color: #000;
}

/* Changing title font color on the checkout page */
div.woocommerce-billing-fields h3, div.woocommerce-additional-fields h3 {
    color: #000;
}

/* Changing font color of cart totals section table content on cart page */
td.product-name, td.product-total {
    color: #000;
}

/* Footer Styling */

/* Changing font color li tags in the footer */
section#block-28.widget.widget_block li a, section#block-27.widget.widget_block li a {
    color: #fff;
}

/* Hovering and changing font color of all li tags in the footer */
section#block-28.widget.widget_block li a:hover, section#block-27.widget.widget_block li a:hover {
    color: #00aeef;
}

/* Styling social media icons in the footer */
div.footer3 section#block-11.widget.widget_block li a svg {
    width: 100%;
    height: 40px;
}

/* Privacy Policy Styling */

/* changing font color of all p tags on privacy policy page */
p {
    color: #7c7c7c;
}

/* Changing font size of all p tags on privacy policy page */
div.entry-content p {
    font-size: 1.2rem;
}

/* Styling all h2 tags in privacy policy page */
div.entry-content h2 {
    font-weight: bold;
    color: #000;
}

/* Refund Page Styling */

/* giving font weight and coloring title on refund and return page */
div.entry-content h3, div.entry-content h2 {
    font-weight: bold;
    color: #000;
}

/* Coloring all li tags in refund and return page */
div.entry-content ul li {
    color: #000;
}

/* Styling all p tags opn refund and return page */
div.entry-content p {
    font-size: 1.3rem;
}

/* Products Page Styling */

/* Hovering and styling add to cart button on product page */
button.wp-block-button__link.add_to_cart_button.wc-block-components-product-button__button:hover {
    background-color: #00aeef;
    color: #000;
    font-weight: 600;
}

/*Styling quantity button on single product page */
.woocommerce .quantity .qty {
    width: 2.5rem !important;
    height: 1.5rem !important;
    margin-top: 0.3rem !important;
}

/* Hovering add to cart button in cart page with important mark */
button.single_add_to_cart_button.button.alt:hover {
    background-color: #00aeef !important;
    color: #fff !important;
    font-weight: 600 !important;
}

/* Coloring add to cart button in Cart Page with important mark */
button.single_add_to_cart_button.button.alt {
    background-color: #b6b6b6 !important;
    color: #000 !important;
}

/* Account Page Styling */

/* Coloring orders-arrow button */
div.wp-block-button.aligncenter.has-custom-width.wp-block-button__width-100.orders-arrow.is-style-outline a {
    color: #000;
}

/* Coloring save-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.save-arrow.is-style-outline a {
    color: #000;
}

/* Coloring general-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.general-arrow.is-style-outline a {
    color: #000;
}

/* Coloring login-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.login-arrow.is-style-outline a {
    color: #000;
}

/* Coloring address-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.address-arrow.is-style-outline a {
    color: #000;
}

/* Coloring default-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.default-arrow.is-style-outline a {
    color: #000;
}

/* Coloring profile-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.profile-arrow.is-style-outline a {
    color: #000;
}

/* Styling / Hovering orders-arrow button */
div.wp-block-button.aligncenter.has-custom-width.wp-block-button__width-100.orders-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

/* Styling / Hovering save-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.save-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

/* Styling / Hovering general-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.general-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

/* Styling / Hovering login-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.login-arrow.is-style-outline a:hover {
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

/* Styling / Hovering address-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.address-arrow.is-style-outline a:hover {    
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

/* Styling / Hovering default-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.default-arrow.is-style-outline a:hover {    
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;
}

/* Styling / Hovering profile-arrow button */
div.wp-block-button.has-custom-width.wp-block-button__width-100.profile-arrow.is-style-outline a:hover {    
    background-color: #00aeef;
    border-radius: 2.0rem;
    border-color: #000;
    color: #fff;

}

/* Coloring both titles*/
h3.title_orders, h3.title_account {
    color: #000;
    margin-bottom: 1.0rem;
}


/* My Account & Login Button Styling */

/* Styling both account as well as login buttons*/
.account a, .login a {
    color: #000;
    background-color: #00aeef;
    margin-top: -11.5rem;
    border-radius: 1.0rem;
    margin-left: 60.0rem;
    border: solid #000 0px;
    max-height: 40px;
}

/* Styling copyright text in footer */
.copyright {
    color: #fff;
}

/* Extra styling for login button*/
.login a {
    margin-left: 80.0rem;
    margin-top: -12.0rem;
}

/* Styling and hovering both account and login links */ 
.account a:hover, .login a:hover {
    color: #fff;
    background-color: #cccccc;
    border: solid #000 0px;
}

/* Styling and hovering both account and login buttons */
.account:hover, .login:hover {
    text-decoration: none;
    color: #fff !important;
}

/* Blog Page Styling */

div.entry-meta, footer.entry-footer {
    display: none;
}

/* Styling header title*/
header.entry-header h2.entry-title  {
    height: 6.0rem;
    background-color: #b6b6b6;
}

/* Styling header entry hyperlink */
h2.entry-title a {
    font-size: 2.5rem;
    color: #000;
    margin-bottom: 1.0rem;
}

/* Hovering hyperlink in the header */
h2.entry-title a:hover {
    color: #00aeef;
}

/* Custom Post type Styling */

/* Styling title h3 tag */
.title h3 {
    margin-top: 1.0rem;
    font-size: 1.8rem;
    text-align: center;
}

/* Styling title hyperlink */
.title a {
    color: #fff;
}

/* Hovering a hyperlink tag of title */
.title a:hover {
    color: #0000ff;
}

/* Styling p means paragraph tag */
.title p {
    color: #cccccc;
    margin-top: 1.0rem;
    font-size: 1.0rem;
    text-align: justify;
}

/* Styling img means image tag */
.title img {
    margin-left: 5.2rem;
    margin-top: 1.0rem;
}

/* Styling information about electronics post */
.listing li {
    text-align: justify;
}

/* Styling single and archive custom post text*/ 
#primary {
    background-color: red;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

/* Coloring all custom post title */
.heading strong {
    color: #000;
}

/* Giving margin to all custom post post-thumbnail images- */
.post-thumbnail img {
    margin-top: 2.0rem;
}

/* Override Ipad Pro  */
@media print,
screen and (max-device-width: 1024px) {

    /* setting whole website width to auto */
    .entry-content > * {
        width: auto;
    }

    /* reducing the custom logo width */
    .site-branding a img {
        width: 25%;
    }

    /* styling search bar */
    p.site-search {
        width: 100%;
        margin-left: 2.0rem;
    }

    /* styling both avvount and login buttons */
    .account a, .login a {
        color: #000;
        background-color: #00aeef;
        border-radius: 1.0rem;
        margin-left: 35.5rem;
        margin-top: -15.0rem;
        font-size: 1.0rem;
        border: solid #000 0px;
        max-height: 40px;
    }

    /* adding some extra styling for login button */
    .login a {
        margin-top: -15.5rem;
        margin-left: 50.0rem;
    }

    /* changing the font size of primary-menu  a hyperlink tag */
    ul#primary-menu.menu li a{
        font-size: 1.0rem;
    }

    /* Home Page Styling */

    /* Reducing image width of gallery images on home page */
    figure.wp-block-gallery.has-nested-images.columns-4 {
        width: 95%;
        margin: 1.0rem;
    }

    /* Custom posts styling */

    /* Reducing the img width of custom posts */
    .title img {
        width: 50%;
        margin-left: 3.0rem;
    }

    /* About Page Styling */
    
    /* Justifying content in our products and our services sections on about page */
    p.products, p.services {
        width: 90%;
        font-size: 20px !important;
        text-align: justify;
    }

    /* Product Page Styling */

    /* Reducing width to 90% for the whole content on this page on product page */
    ul.wc-block-grid__products {
        width: 95%;
        margin-left: 1.0rem;
    }

    /* Single Product Page Styling */
    section.related.products ul.products.columns-4 {
        margin-bottom: 0.0rem;
    }

    /* Cart Page Styling */
    form.woocommerce-cart-form {
        width: 90%;
        margin-left: 0.8rem;
    }

    /* styling cart totals title section on cart page */
    div.cart_totals h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* styling table td content on cart page  */
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
        color: #000;
    }

    /* styling td price content on cart page */
    td.product-price span.woocommerce-Price-amount.amount bdi, td.product-subtotal span.woocommerce-Price-amount.amount bdi {
        color: #00aeef;
    }

    /* Contact Page Styling */
    
    /* Reducing the width to 90% for the whole conatct page */
    form#ws-form-1.wsf-form.wsf-form-canvas {
        width: 90%;
    }
}

/* Override Ipad  */
@media print,
screen and (max-device-width: 820px) {

    /* setting whole website width to auto */
    .entry-content > * {
        width: auto;
    }

    /* redcuing the custom logo image width */
    .site-branding a img {
        width: 25%;
    }

    /* styling search bar */
    p.site-search {
        width: 100%;
        margin-top: 2.0rem;
        margin-left: -12.0rem;
    }

    /* styling for account and login buttons */
    .account a, .login a {
        color: #000;
        background-color: #00aeef;
        border-radius: 1.0rem;
        margin-left: 20.5rem;
        margin-top: -15.0rem;
        font-size: 1.0rem;
        border: solid #000 0px;
        max-height: 40px;
    }

    /* extra styling for login button */
    .login a {
        margin-top: -15.5rem;
        margin-left: 35.0rem;
    }

    /* styling a hyperlink tag */
    ul#primary-menu.menu li a{
        font-size: 1.0rem;
    }

    /* Home Page Styling */

    /* Reducing image width of gallery images on home page */
    figure.wp-block-gallery.has-nested-images.columns-4 {
        width: 95%;
        margin: 1.0rem;
    }

    /* Custom posts styling */

    /* Reducing the img width of custom posts */
    .title img {
        width: 50%;
        margin-left: 3.0rem;
    }

    /* About Page Styling */
    
    /* Justifying content in our products and our services sections on about page */
    p.products, p.services {
        width: 90%;
        font-size: 20px !important;
        text-align: justify;
    }

    /* Product Page Styling */

    /* Reducing width to 90% for the whole content on this page on product page */
    ul.wc-block-grid__products {
        width: 95%;
        margin-left: 1.0rem;
    }

    /* Single Product Page Styling */
    section.related.products ul.products.columns-4 {
        margin-bottom: 0.0rem;
    }

    /* Cart Page Styling */
    form.woocommerce-cart-form {
        width: 90%;
        margin-left: 0.8rem;
    }

    /* styling cart totals title section on cart page */
    div.cart_totals h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* styling table td content on cart page */
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
        color: #000;
    }

    /* styling td price content on cart page */
    td.product-price span.woocommerce-Price-amount.amount bdi, td.product-subtotal span.woocommerce-Price-amount.amount bdi {
        color: #00aeef;
    }

    /* Contact Page Styling */
    
    /* Reducing the width to 90% for the whole conatct page */
    form#ws-form-1.wsf-form.wsf-form-canvas {
        width: 90%;
    }
}

/* Override Ipad  */
@media print,
screen and (max-device-width: 768px) {

    /* setting the whole website width to auto */
    .entry-content > * {
        width: auto;
    }

    /* reducing the width of custom logo image */
    .site-branding a img {
        width: 25%;
    }

    /* styling for a search bar */
    p.site-search {
        width: 100%;
        margin-top: 2.0rem;
        margin-left: -12.0rem;
    }

    /* styling for account and login buttons */
    .account a, .login a {
        color: #000;
        background-color: #00aeef;
        border-radius: 1.0rem;
        margin-left: 20.5rem;
        margin-top: -15.0rem;
        font-size: 1.0rem;
        border: solid #000 0px;
        max-height: 40px;
    }

    /* extra styling to login button */
    .login a {
        margin-top: -15.5rem;
        margin-left: 35.0rem;
    }

    /* styling primary menu a hyperlink tag */
    ul#primary-menu.menu li a{
        font-size: 1.0rem;
    }

    /* Home Page Styling */

    /* Reducing image width of gallery images on home page */
    figure.wp-block-gallery.has-nested-images.columns-4 {
        width: 95%;
        margin: 1.0rem;
    }

    /* Custom posts styling */

    /* Reducing the img width of custom posts */
    .title img {
        width: 50%;
        margin-left: 3.0rem;
    }

    /* About Page Styling */
    
    /* Justifying content in our products and our services sections on about page */
    p.products, p.services {
        width: 90%;
        font-size: 20px !important;
        text-align: justify;
    }

    /* Product Page Styling */

    /* Reducing width to 90% for the whole content on this page on product page */
    ul.wc-block-grid__products {
        width: 95%;
        margin-left: 1.0rem;
    }

    /* Cart Page Styling */
    form.woocommerce-cart-form {
        width: 90%;
        margin-left: 0.8rem;
    }

    /* Styling cart totals title section on cart page */
    div.cart_totals h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* styling table td content on cart page */
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
        color: #000;
    }

    /* styling the td price content on cart page */
    td.product-price span.woocommerce-Price-amount.amount bdi, td.product-subtotal span.woocommerce-Price-amount.amount bdi {
        color: #00aeef;
    }

    /* Contact Page Styling */
    
    /* Reducing the width to 90% for the whole conatct page */
    form#ws-form-1.wsf-form.wsf-form-canvas {
        width: 90%;
    }
}

/* Override Iphone XR */
@media print,
screen and (max-device-width: 441px) {

    /* Setting width to auto for the whole website content */
    .entry-content > * {
        width: auto;
    }

    /* reducing the custom logo img width */
    .site-branding a img {
        width: 25%;
    }

    /* Styling search bar */
    p.site-search {
        width: 100%;
        margin-top: 2.0rem;
        margin-left: -12.0rem;
    }

    /* Styling both account and login butoons */
    .account a, .login a {
        color: #000;
        background-color: #00aeef;
        border-radius: 1.0rem;
        margin-left: 4.5rem;
        margin-top: -15.0rem;
        font-size: 1.0rem;
        border: solid #000 0px;
        max-height: 40px;
    }

    /* extra styling for login button */
    .login a {
        margin-top: -15.5rem;
        margin-left: 20.0rem;
    }

    /* Styling primary menu a hyperlink tag */
    ul#primary-menu.menu li a{
        font-size: 1.0rem;
    }

    /* Styling primary menu content */
    ul#primary-menu.menu {
        height: 4.0rem;
    }

    /* Home Page Styling */

    /* Reducing image width of gallery images on home page */
    figure.wp-block-gallery.has-nested-images.columns-4 {
        width: 90%;
        margin: 1.0rem;
    }

    /* About Page Styling */
    
    /* Justifying content in our products and our services sections on about page */
    p.products, p.services {
        width: 90%;
        font-size: 20px !important;
        text-align: justify;
    }

    /* Product Page Styling */

    /* Reducing width to 90% for the whole content on this page on product page */
    ul.wc-block-grid__products {
        width: 90%;
        margin-left: 1.0rem;
    }

    /* Cart Page Styling */
    form.woocommerce-cart-form {
        width: 90%;
        margin-left: 0.8rem;
    }

    /* Styling cart totals tilte in cart page */
    div.cart_totals h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* Styling table td content on cart page */
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
        color: #000;
    }

    /* Styling td price content on cart page */
    td.product-price span.woocommerce-Price-amount.amount bdi, td.product-subtotal span.woocommerce-Price-amount.amount bdi {
        color: #00aeef;
    }

    /* Contact Page Styling */
    
    /* Reducing the width to 90% for the whole conatct page */
    form#ws-form-1.wsf-form.wsf-form-canvas {
        width: 90%;
    }
}

/* Override Mobile */
@media print,
screen and (max-device-width: 375px) {

    /* setting entier wibsite width to auto */
    .entry-content > * {
        width: auto;
    }

    /* reducing custom logo width */
    .site-branding a img {
        width: 25%;
    }

    /* reducing width and styling to search */
    p.site-search {
        width: 100%;
        margin-top: 2.0rem;
        margin-left: -12.0rem;
    }

    /* Styling both account and login buttons */
    .account a, .login a {
        color: #000;
        background-color: #00aeef;
        border-radius: 1.0rem;
        margin-left: 2.0rem;
        margin-top: -15.0rem;
        font-size: 1.0rem;
        border: solid #000 0px;
        max-height: 40px;
    }

    /* Extra styling for login button */
    .login a {
        margin-top: -15.5rem;
        margin-left: 15.0rem;
    }

    /* Styling for primary menu a hyperlink tag */
    ul#primary-menu.menu li a{
        font-size: 1.0rem;
    }

    /* Styling for primary menu */
    ul#primary-menu.menu {
        height: 5.0rem;
    }

    /* My Account Page Styling */

    /* Styling for titles on My Account Page */
    h3.title_orders, h3.title_account {
        color: #000;
    }

    /* Styling all a hyperlink tags on my account page */
    div.wp-block-button.aligncenter.has-custom-width.wp-block-button__width-100.orders-arrow.is-style-outline a,
    div.wp-block-button.has-custom-width.wp-block-button__width-100.save-arrow.is-style-outline a,
    div.wp-block-button.has-custom-width.wp-block-button__width-100.general-arrow.is-style-outline a,
    div.wp-block-button.has-custom-width.wp-block-button__width-100.login-arrow.is-style-outline a, 
    div.wp-block-button.has-custom-width.wp-block-button__width-100.address-arrow.is-style-outline a, 
    div.wp-block-button.has-custom-width.wp-block-button__width-100.default-arrow.is-style-outline a, 
    div.wp-block-button.has-custom-width.wp-block-button__width-100.profile-arrow.is-style-outline a{
        width: 80%;
        font-size: 1.2rem;
    }

    /* Home Page Styling */

    /* Reducing image width of gallery images on home page */
    figure.wp-block-gallery.has-nested-images.columns-4 {
        width: 90%;
        margin: 1.0rem;
    }

    /* About Page Styling */
    
    /* Justifying content in our products and our services sections on about page */
    p.products, p.services {
        width: 90%;
        font-size: 20px !important;
        text-align: justify;
    }

    /* Blog Page Styling */

    /* reducing width size to 90% of both posts cellphones as well as technology on blog page */
    p.cell-first-para, p.cell-second-para, p.tech-first-para, p.tech-second-para {
        width: 90%;
    }

    /* reducing width size to 90% of reference links for both posts on blog page */
    p.cell-link, p.tech-link {
        width: 90%;
    }

    /* Shop Page Styling */

    /* Giving some margin to the default sorting button on shop page */
    select.orderby {
        margin-top: -1.0rem;
    }

    /* Styling to the product name on shop page */
    h2.woocommerce-loop-product__title {
        font-size: 1.0rem !important;
        text-align: justify !important;
        margin-left: 0.5rem !important;
    }

    /* Justifying prices of the each product on shop page */
    span.woocommerce-Price-amount.amount bdi {
        text-align: justify !important;
        font-size: 0.9rem;
    }

    /* Reducing font size of the add to cart button on shop page */
    a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
        font-size: 0.9rem;
        margin-left: 0.5rem;
    }

    /* Reducing font size of sale button on shop page */
    span.onsale {
        font-size: 0.7rem !important;
    }

    /* Reducing width of the whole content on shop page */ 
    div.woocommerce.columns-4 {
        width: 95%;
        margin: 1.0rem;
        margin-bottom: -1.5rem;
    } 

    /* Product Page Styling */

    /* Reducing width to 90% for the whole content on this page on product page */
    ul.wc-block-grid__products {
        width: 90%;
        margin-left: 1.0rem;
    }

    /* Cart Page Styling */
    form.woocommerce-cart-form {
        width: 90%;
        margin-left: 0.8rem;
    }

    /* Styling cart totals title section on cart page */
    div.cart_totals h2 {
        text-align: center;
        font-size: 1.5rem;
    }

    /* Styling table td content on cart page */
    table.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents td {
        color: #000;
    }

    /* Styling price on cart page */
    td.product-price span.woocommerce-Price-amount.amount bdi, td.product-subtotal span.woocommerce-Price-amount.amount bdi {
        color: #00aeef;
    }

    /* Contact Page Styling */
    
    /* Reducing the width to 90% for the whole conatct page */
    form#ws-form-1.wsf-form.wsf-form-canvas {
        width: 90%;
    }

    /* Footer Page Styling */

    /* Styling on lists on footer */
    .lists {
        display: block;
        text-align: center;
    }

    /* Styling ul li sections in footer */
    .lists section#block-28.widget.widget_block ul li, .lists section#block-27.widget.widget_block ul li {
        text-align: justify;
        list-style-position: inside;
        margin-left: 6.5rem;
    }
    
    /* Styling ul li sections in footer */
    .lists section#block-27.widget.widget_block ul li {
        margin-left: 7.0rem;
    }

}